{% extends 'base.html' %}

{% block content %}
<div class="container fill">
  <div class="row fill"
       ng-controller="ClockDisplayCtrl">
    <table class="table fill">
      <tbody>
        <tr>
          <td class="td-30" colspan="4">&nbsp;</td>
        </tr>
        <tr>
          <td rowspan="2" class="time vert-align">
            <h1 class="text-center">
              <strong>[[ current_date | date: 'HH:mm:ss' ]]</strong>
            </h1>
            <h5 class="text-center">[[ current_date | date: 'EEEE d/M' ]]</h5>
          </td>
          <td class="text-center weather vert-align"
              colspan="3"
              ng-controller="CurrentWeatherCtrl">
            <section ng-show="weather.status == 'success'">
              <p class="current-weather-label">
                Current Weather in [[ weather.location ]]
              </p>
              <p>
                <i class="wi [[ weather.weather.icon ]]"></i>
                [[ weather.weather.temperature ]]
                <i class="wi wi-celsius"></i>
              </p>
              <p class="current-weather-label">[[ weather.weather.label ]]</p>
            </section>
          </td>
        </tr>
        <tr ng-controller="WeatherForecastCtrl">
          <td class="weather-sm vert-align"
              ng-repeat="item in forecast">
            <p class="text-center forecast-time">
              [[ item.date | date: 'HH:mm' ]]
            </p>
            <p class="text-center">
              <i class="wi [[ item.icon ]]"></i>
              [[ item.temperature ]]
              <i class="wi wi-celsius"></i>
            </p>
            <p class="text-center">[[ item.label ]]</p>
          </td>
        </tr>
        <tr>
          <td class="td-30" colspan="4">&nbsp;</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
